<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="../vendor/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../public/css/navigatio.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="wrapper">
        <nav class="s-menu-bar">
            <ul class="s-ul">
                <li class="s-li s-active">
                    <a class="s-link" href="#">
                        <i class="bi bi-house-door s-icon"></i>
                        <span>Home </span>
                    </a>
                </li>
                <li class="s-li">
                    <a class="s-link" href="#">
                        <i class="bi bi-search s-icon"></i>
                        <span>Search</span>
                    </a>
                </li>
                <li class="s-li">
                    <a class="s-link " href="#">
                        <i class="bi bi-plus-lg s-icon"></i>
                        <span>Add</span>
                    </a>
                </li>
                <li class="s-li">
                    <a class="s-link" href="#">
                        <i class="bi bi-chat s-icon"></i>
                        <span>Chat</span>
                    </a>
                </li>
                <li class="s-li">
                    <a class="s-link" href="#">
                        <i class="bi bi-person s-icon"></i>
                        <span>Profile</span>
                    </a>
                </li>
                <div class="s-indicator"></div>
            </ul>
        </nav>
    </div>
    <script src="../public/js/main.js"></script>
</body>
</html>